nav {
    background-color: #ff5a5f;
    padding: 10px 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.menu-toggle {
    display: none; /* Hide the hamburger menu by default on larger screens */
    cursor: pointer;
    font-size: 24px;
    margin-right: 20px;
}

/* Responsive Layout */
@media (max-width: 768px) {
    /* Hamburger Menu Styles */
    .menu-toggle {
        display: block; /* Show the hamburger menu on smaller screens */
    }

    nav ul {
        display: none; /* Hide the navigation links by default on smaller screens */
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 70px; /* Adjust this value to position the menu below the navigation bar */
        left: 0;
        right: 0;
        background-color: #ff5a5f;
        padding: 10px 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

    /* Show the navigation links when the hamburger menu is clicked */
    nav ul.show {
        display: flex;
    }
}